{% extends 'page.html' %}
<!-- Content start -->
{% block content %}
<div class="content pd-0">
<div class="row post">
<div class="card mb-4 border-0">
<div class="card-body p-0">
<h2 class target="_blank" lass="card-title">
<a target="_blank" class="text-success text-decoration-none" href="/about.html" title="About">About</a></h2>
<img src="/static/django-lb.webp" alt="about | dev.liteblog.eu" title="about | dev.liteblog.eu" class="image-300-width">
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget tellus ac tellus varius tristique sed et est. Integer dignissim libero vitae nisl laoreet molestie. Fusce et orci eu dolor consectetur pretium sed sit amet turpis. Aliquam erat volutpat. Cras gravida dui magna. Quisque porta quis turpis et tincidunt. Mauris a fermentum odio.</p> 
<p class="card-text">Vivamus faucibus, turpis sit amet lacinia vulputate, mi magna venenatis enim, ac commodo turpis dui sit amet elit. Curabitur nunc ante, fringilla nec neque at, malesuada dapibus augue. In vulputate est eu fringilla tempor. In eget fermentum augue, vitae finibus felis. Sed nec mattis sem, ut cursus urna. Proin pellentesque lorem efficitur, suscipit neque vel, tincidunt turpis. Nam volutpat mattis elementum. Praesent ornare elit vitae tempus rutrum. Donec euismod neque eu lectus sodales, at lobortis tellus facilisis. Etiam blandit suscipit lobortis. In placerat tristique commodo.</p>
<p class="card-text">Fusce vestibulum ultricies sagittis. Mauris ut accumsan felis. Nullam et pulvinar orci, ut pellentesque risus. Fusce ipsum tortor, vulputate vel purus sed, pretium faucibus felis. Donec a lorem elit. Ut non est odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ex ipsum, congue vel dolor convallis, iaculis posuere nisl. Nunc tincidunt tortor id mauris convallis, sit amet commodo orci fringilla. Sed hendrerit mollis finibus. Donec vel placerat risus.</p>
</div>
</div>
</div>
</div>
{%endblock%}
<!-- Content stop -->
