{% extends 'base.html' %}
{% load markdown_extras %}
{% block bread %}
{% include 'bread.html' %}
{% endblock bread %}
{% block title %}About{% endblock %}
{% block content %}
<article class="p-6 bg-gray-100 rounded-xl prose lg:prose-xl max-w-full w-full">
<h2 class="text-3xl" title="About">About</h2>
<img src="static/django-lb.webp" alt="About" title="About" style="width: 320px; height: 160px;" class="float-left mr-4">
<p class="mb-6">Cześć! Mam na imię Zbigniew - trochę informacji o sobie.</p>
<p class="mb-6">Moje pasje koncentrują się głównie wokół technologii internetowych oprócz tego, moją zawodową ścieżką jest stolarstwo, obecnie pracuję jako projektant mebli, wykorzystując do tego program Corpus 5.</p>
<p class="mb-6">Od dłuższego czasu jestem zafascynowany technologiami internetowymi i ich potencjałem.</p> 
<p class="mb-6">Uwielbiam tworzyć dynamiczne strony internetowe oraz aplikacje internetowe. Jako fan frameworka Django, korzystam z niego do budowania zaawansowanych witryn internetowych. Dzięki Django mogę łatwo zarządzać danymi, tworzyć interaktywne formularze i dostarczać treści w sposób efektywny.</p>
<h3 class="text-3xl" title="Zawód - stolarz">Zawód - stolarz i projektant mebli.</h3>
<p class="mb-6">Moja zawodowa droga rozpoczęła się jako stolarz. W trakcie lat doskonaliłem swoje umiejętności w pracy , projektowaniu i tworzeniu mebli. Teraz pracuję jako projektant mebli, gdzie wykorzystuję program Corpus 5. To zaawansowane narzędzie do projektowania mebli, które umożliwia mi tworzenie wizualizacji, planów i specyfikacji mebli w sposób precyzyjny i efektywny.</p>
<pre>To niesamowite, jak pasje i zawód mogą się ze sobą przeplatać,</pre> 
<pre>pozwalając mi realizować się zarówno w dziedzinie technologii, jak i designu mebli.</pre>
</article>
{% endblock %}
