{% extends 'base.html' %}
{% block canonical %}
<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'kontakt' %}">
{% endblock %}
{% load markdown_extras %}
{% block bread %}
{% include 'bread.html' %}
{% endblock bread %}
{% block title %}Kontakt{% endblock %}
{% block content %}
<article class="p-6 bg-gray-100 rounded-xl prose lg:prose-xl max-w-full w-full">
<h2 class="text-3xl" title="Kontakt">Kontakt</h2>
<img src="static/django-lb.webp" alt="Kontakt" title="Kontakt" style="width: 320px; height: 160px;" class="float-left mr-4">
<h3 class="text-3xl" title="Info Kontakt">Informacje Kontaktowe</h3>
<p class="mb-6"><b>Name</b> : Zbigniew Czechowski</p>
<p class="mb-6"><b>e-mail</b> : zibi.czechowski@gmail.com</p>
<p class="mb-6"><b>Mobile</b> : +48 </p>
<pre>Dodatkowy tekst informacyjny lub wiadomość.</pre>
</article>
{% endblock %}
