{% extends 'base.html' %}
{% load markdown_extras %}
{% block bread %}
{% include 'bread_cat.html' %}
{% endblock bread %}
{% block title %}{{ category.title }} | {% endblock %}
{% block content %}
{% for post in page_obj %}
<article class="p-6 bg-gray-100 rounded-xl">
<h2 class="text-3xl font-bold" title="{{ post.title }}">{{ post.title }}</h2>
<span class="mb-4 block text-sm text-emerald-800 mt-2">Autor : {{ post.autor }} | Data : {{ post.pub_date|date}} | Tag: {% for tag in post.tags.all %} <a href="{% url 'tag_detail' tag.slug %}"><b>{{ tag }}</b></a>{% endfor %} | Kategoria : <a href="{% url 'category_detail' post.category.slug %}"><b>{{ post.category }}</b></a></span>
{% if post.image %}<img src="{{ post.image.url }}" alt="{{ post.get_image_alt }}" title="{{ post.get_image_title }}" style="width: 284px; height: 160px;" class="float-left mr-4">{% endif %}
<p class="mb-6">{{ post.body|markdown|safe|slice:":350" }}</p>
<button class="bg-emerald-800 shadow-lg shadow-emerald-800/50 px-4 py-2 text-white rounded-md mt-4">
<a href="{% url 'post_detail' post.category.slug post.slug %}" class="text-white" title="{{ post.title }}">Czytaj więcej</a>
</button>
<div class="mt-4"></div>
</article>
{% empty %}
<h2 class="text-3xl font-bold">There is no posts in this category...</h2>
<h3 class="text-3xl">Back to <a href="/" class="text-emerald-700" title="Homepage">Homepage</a></h3>
{% endfor %}
{% endblock %}
{% block pagination %}
{% include 'pagination.html' %}
{% endblock pagination %}
