{% extends 'base.html' %}
{% block canonical %}
<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ post.get_absolute_url }}">
{% endblock %}
{% load markdown_extras %}
{% block bread %}
{% include 'bread_post.html' %}
{% endblock bread %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<article class="p-6 bg-gray-100 rounded-xl prose lg:prose-xl max-w-full w-full">
<h2 class="text-3xl" title="{{ post.title }}">{{ post.title }}</h2>
<span class="mb-4 block text-sm text-emerald-800 mt-2">Autor : {{ post.autor }} | Data : {{ post.pub_date|date}} | Tag: {% for tag in post.tags.all %} <a href="{% url 'tag_detail' tag.slug %}"><b>{{ tag }}</b></a>{% endfor %} | Kategoria : <a href="{% url 'category_detail' post.category.slug %}"><b>{{ post.category }}</b></a></span>
{% if post.image %}<img src="{{ post.image.url }}" alt="{{ post.get_image_alt }}" title="{{ post.get_image_title }}" style="width: 640px; height: 320px;" class="float-left mr-4">{% endif %}
<p class="mb-6">{{ post.body|markdown|safe }}</p>
</article>
{% endblock %}
