<!-- Nav start -->
<div class="container">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
<span class="fs-4 text-success">dev.liteblog.eu</span>
</a>
<form class="d-flex" role="search" method="get" action="{% url 'search' %}">
<input name="query" class="form-control me-1" type="text" placeholder="Szukaj" aria-label="Szukaj">
<button class="btn btn-outline-success mx-1" type="submit">Szukaj</button>
</form>
<ul class="nav nav-pills">
<li class="nav-item mx-1"><a href="/" class="bg-success text-white nav-link" title="Home">Home</a></li>
<li class="nav-item mx-1"><a href="/about.html" class="bg-success text-white nav-link" title="About">About</a></li>
<li class="nav-item mx-1"><a href="/kontakt.html" class="bg-success text-white nav-link" title="Kontakt">Kontakt</a></li>
</ul>
</header>
</div>
<!-- Nav stop -->
