{% extends 'blog/tags.html' %}
{% load static %}
{% load markdown_extras %}
<!-- Content start -->
{% block title %}{{ tag.title }} | {% endblock %}
{% block content %}
<div class="content pd-0">
<div class="row post">
<div class="card mb-4 border-0">
{% for post in page_obj %}
<div class="card-body p-0">
<h2 class="card-title">
<a class="text-success text-decoration-none" title="{{ post.title }}">{{ post.title }}</a></h2>
<p><span class="date">Autor : {{ post.autor }} | Data : {{ post.pub_date|date}} | Tag: {% for tag in post.tags.all %} <a class="text-success text-decoration-none" href="{% url 'tag_detail' tag.slug %}"><b>{{ tag }}</b></a>{% endfor %} | Kategoria : <a class="text-success text-decoration-none" href="{% url 'category_detail' post.category.slug %}"><b>{{ post.category }}</b></a></p>
{% if post.image %}<img src="{{ post.image.url }}" alt="{{ post.get_image_alt }}" title="{{ post.get_image_title }}" class="image-300-width">{% endif %}
<p class="card-text">{{post.body|markdown|safe|slice:":300"}}</p><p></p>
<a href="{% url 'post_detail' post.category.slug post.slug %}" class="btn btn-success" title="{{ post.title }}">Czytaj Więcej</a><hr />
</div>
{% empty %}
<div class="content">
<h3>There is no posts in this tag ...</h3>
</div>
{% endfor %}
<!-- Paginacja -->
          <nav aria-label="Page Navigation">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link text-success" href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}

              {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                <li class="page-item active border-success">
                  <a class="page-link text-white bg-success" href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link text-success" href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
                </li>
                {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link text-success" href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>

</div>
</div>
</div>
{%endblock%}
<!-- Content stop -->
