{% load static %}
<!doctype html>
<html lang="en">
{% block head %}
{% include 'page/head.html' %}
{% endblock head %}
<body class="page" id="1">
{% block nav %}
{% include 'page/nav.html' %}
{% endblock nav %}
{% block breadcrumb %}
{% include 'page/breadcrumb.html' %}
{% endblock breadcrumb %}
{% block content %}
{% endblock content %}
</div>
{% block sidebar %}
{% include 'page/sidebar.html' %}
{% endblock sidebar %}
</div>
</div>
{% block footer %}
{% include 'page/footer.html' %}
{% endblock footer %}
</body>
</html>
